/* -------------- Fonts --------------- */
@font-face {
  font-family: "Helvetica Neue Heavy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Heavy.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Thin.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeueBold.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeueUltraLight.woff") format("woff"); }

html {
  padding: 0px;
  margin: 0px;
  width: 100%; }

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  background-position: center no-repeat;
  background-size: cover; }

.page {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  box-sizing: border-box;
  position: flex;
  justify-content: center; }

.logo {
  position: fixed;
  margin: 4px;
  padding-left: 18px;
  top: 0px;
  left: 0px;
  cursor: pointer; }
  .logo a {
    text-decoration: none;
    color: #000;
    font-size: 64px;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica Neue bold; }

.darkLogo a {
  color: white; }

.contactContainer {
  position: fixed;
  transform: rotate(-90deg);
  bottom: 89px;
  right: -70px;
  padding: 0px;
  margin: 0;
  z-index: 3;
  cursor: pointer; }
  .contactContainer a {
    text-decoration: none;
    font-family: Helvetica Neue Medium;
    font-size: 54px;
    color: #000;
    bottom: 0px;
    right: 0px; }

.contactContainerDark a {
  color: white; }

.darkMenu .bracketButton img {
  content: url("../../images/brackets-white.png"); }

.darkMenu .musicNoteButton img {
  content: url("../../images/music-note-white.png"); }

.darkMenu .dropdown .link {
  color: white; }

.darkMenu .dropdown .link:hover {
  color: #3889e8; }

.menu {
  display: flex;
  position: fixed;
  top: 10vh;
  right: 14vw;
  margin: 0px;
  padding: 0px;
  z-index: 10; }
  .menu .dropdown {
    display: none;
    position: absolute;
    padding: 0px;
    z-index: 3;
    margin: 38px 0px 0px 0px;
    align-items: center;
    flex-direction: column;
    min-width: 11em;
    padding: 3px 0px 0px 0px;
    z-index: 10; }
    .menu .dropdown a {
      width: 100%;
      font-family: Helvetica Neue Medium;
      font-size: 20px;
      margin: 0px;
      padding: 12px;
      text-decoration: none;
      display: flex;
      justify-content: center; }
    .menu .dropdown .hoverColorPennyWise:hover {
      color: #3889e8; }
    .menu .dropdown .hoverColorTestPrep:hover {
      color: #bc5753; }
    .menu .dropdown .hoverColorFatCats:hover {
      color: #4390c1; }
    .menu .dropdown .hoverColorBrother:hover {
      color: #bb7ca9; }
    .menu .dropdown .hoverColorPersonal:hover {
      color: #6c2ba1; }
    .menu .dropdown .hoverColorRoadie:hover {
      color: #721d43; }
  .menu .bracketIcon {
    padding: 0px 14px 4px 14px;
    margin: 0px 7vw 0px 0px; }
  .menu .musicNoteIcon {
    margin: 0px 0px 0px 7vw;
    padding: 0px 14px 4px 14px; }

.black-text {
  color: #000; }

.white-text {
  color: white; }

.menuIcon {
  padding: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 10;
  cursor: pointer; }
  .menuIcon img {
    height: 30px; }

.bracketIcon:hover > .bracketDropdown {
  display: flex !important; }

.musicNoteIcon:hover > .musicNoteDropdown {
  display: flex !important; }

.title {
  padding: 0px;
  margin: 20em 12vw 1em 3em; }
  .title h1 {
    font-family: Helvetica Neue Bold;
    font-size: 60px;
    color: #000;
    margin: 1em 0em 0.2em 0.5em; }
  .title hr {
    border: 1px solid #000; }

.subtitle {
  padding: 0px;
  margin: 14em 12vw 2em 3em; }
  .subtitle h1 {
    font-family: Helvetica Neue Bold;
    font-size: 54px;
    color: #000;
    margin: 1em 2em 0.2em 0.5em; }
  .subtitle hr {
    border: 1px solid #000; }

.headline {
  padding: 0px;
  margin: 4em 12vw 2em 3em; }
  .headline h1 {
    font-family: Helvetica Neue Medium;
    font-size: 28px;
    color: #000;
    margin: 1em 8em 0em 2em; }

.contentContainer {
  margin: 2em 2em 0em 2em;
  display: flex;
  flex-direction: column; }

.contentSection {
  display: flex;
  justify-content: center;
  margin: 2em;
  width: auto; }

.imgRight {
  width: 240px;
  margin: 2em;
  margin-right: 10em; }

.imgLeft {
  width: 240px;
  margin: 2em;
  margin-left: 10em; }

.contentImage {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-bottom: 7em; }

.contentTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.contentTitle {
  margin: 0em 0em 2em 0em;
  font-family: Helvetica Neue Bold;
  font-size: 46px; }

.contentBody {
  margin: 0em 5em 8em 5em;
  font-family: Helvetica Neue Medium;
  font-size: 26px; }

.appStoreContainer {
  display: flex;
  flex-flow: column;
  margin: 2em 0em;
  align-items: center; }
  .appStoreContainer .appIcon {
    width: 120px; }
  .appStoreContainer a img {
    width: 140px;
    margin: 2em 0em; }

.creationContainer {
  margin: 0em 14em;
  padding: 0em; }
  .creationContainer h1 {
    font-family: Helvetica Neue Bold;
    font-size: 34px;
    color: white; }
  .creationContainer p {
    font-family: Helvetica Neue Light;
    font-size: 20px;
    color: white;
    margin-bottom: 0px; }
  .creationContainer img {
    width: 80%;
    margin: 80px 0px 60px 0px; }

.eventsContainer {
  margin: 0em 10em;
  padding: 0em;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .eventsContainer h1 {
    font-family: Helvetica Neue Bold;
    font-size: 34px;
    color: white; }
  .eventsContainer p {
    font-family: Helvetica Neue Light;
    font-size: 20px;
    color: white;
    padding: 2px;
    margin: 0px; }
  .eventsContainer img {
    width: 100%;
    margin: 8px 0px 100px 0px;
    max-width: 1000px; }

.dark {
  margin: 0px;
  padding: 0px;
  background-color: black; }
  .dark .subtitle {
    margin: 1em 12vw 2em 3em; }
    .dark .subtitle h1 {
      color: white;
      padding: 1em 0px 0px 0px; }
    .dark .subtitle hr {
      border: 1px solid white;
      padding: 0px; }

footer {
  height: 10em;
  position: relative;
  margin: 0em; }
  footer p {
    position: absolute;
    margin: 1em 2.5em;
    bottom: 12px;
    font-family: Helvetica Neue Light;
    font-size: 16px; }

.lightFooter {
  background-color: white; }
  .lightFooter p {
    color: black; }

.darkFooter {
  background-color: black; }
  .darkFooter p {
    color: white; }

.contentContainerSimple {
  margin: 6em 0em 0em 0em;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: center; }
  .contentContainerSimple .mac-image {
    width: 50vw; }
  .contentContainerSimple .iphone-image {
    width: 10vw; }
  .contentContainerSimple img {
    margin: 0em 1.2em; }
  .contentContainerSimple .contentSectionSimple {
    margin-right: 4em; }

ul li {
  font-family: Helvetica Neue Medium;
  font-size: 18px;
  padding-right: 24px; }

.bioPics {
  display: flex;
  width: 100%;
  margin: 0em;
  padding: 0px;
  justify-content: center;
  align-content: center; }
  .bioPics img {
    height: 100%;
    border: 3px solid black;
    height: 20vw;
    margin: 0px 1em; }

.menu-hamburger {
  display: none;
  position: absolute;
  z-index: 10;
  top: 72px;
  right: 40px; }
  .menu-hamburger .hamburgerButton img {
    width: 34px;
    height: auto; }

.dropdown-mobile {
  display: none; }
  .dropdown-mobile a {
    color: white; }
  .dropdown-mobile a:hover {
    color: #bb7ca9; }

/* -------------- Fonts --------------- */
@font-face {
  font-family: "Helvetica Neue Heavy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Heavy.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Thin.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeueBold.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeueUltraLight.woff") format("woff"); }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .headline h1 {
    margin-right: 0px; }
  .bioPics img {
    height: 24vw; }
  .eventsContainer {
    margin: 0em 4em; }
  .menu .dropdown a:hover {
    color: #ffa2a2; }
  .creationContainer {
    margin: 0em 8em; } }

@media screen and (max-width: 640px) {
  html {
    width: 100%; }
  body {
    box-sizing: border-box;
    width: 100%; }
  .page {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 100%; }
  .logo a {
    font-size: 44px; }
  .infoContainer {
    top: 24vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: none;
    left: 0px; }
    .infoContainer h2 {
      font-size: 56px;
      letter-spacing: -3px;
      margin: 0px;
      padding: 0px; }
    .infoContainer p {
      margin: 8px 12px;
      padding: 8px 12px;
      font-size: 20px;
      font-family: Helvetica Neue Light; }
  .menu {
    display: none; }
  .menu-hamburger {
    display: flex;
    position: fixed; }
  .contactContainer {
    bottom: 60px;
    right: -42px;
    z-index: 9; }
    .contactContainer a {
      font-size: 36px; }
  .headline {
    margin: 12px 0px 8em 0px;
    padding: 0px;
    width: 100vw; }
    .headline h1 {
      font-size: 22px;
      letter-spacing: -1px;
      margin: 18px 40px 18px 20px;
      padding: 0px; }
  .menu-hamburger {
    display: block;
    position: fixed;
    z-index: 10;
    top: 72px;
    right: 40px; }
    .menu-hamburger .hamburgerButton img {
      width: 34px; }
  .mobile-menu-darken {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.95;
    z-index: 11; }
  .menu-items-mobile {
    position: absolute;
    z-index: 12;
    margin-top: 16vh;
    width: 100%; }
  .menu-item-mobile {
    width: 100%;
    display: flex;
    justify-content: center; }
  .menu-title-mobile {
    width: 100%;
    display: flex;
    justify-content: left; }
    .menu-title-mobile img {
      width: 24px;
      height: auto;
      margin: 34px 0px 12px 20vw; }
  .dropdown-mobile {
    display: none;
    position: fixed;
    width: 100vw;
    height: 130vh;
    padding: 0px;
    z-index: 12;
    align-items: center;
    flex-direction: column; }
    .dropdown-mobile a {
      width: 100%;
      font-family: Helvetica Neue Medium;
      font-size: 20px;
      margin: 0px;
      padding: 12px;
      text-decoration: none;
      display: block;
      display: flex;
      justify-content: center; }
  .hamburgerIcon:hover > .dropdown-mobile {
    display: flex !important; }
  .mobile-menu-darken {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 11; }
  .menu-items-mobile {
    position: absolute;
    z-index: 12;
    margin-top: 16vh;
    width: 100%; }
  .menu-item-mobile {
    width: 100%;
    display: flex;
    justify-content: center; }
  .menu-title-mobile {
    width: 100%;
    display: flex;
    justify-content: left; }
    .menu-title-mobile img {
      width: 24px;
      height: 24px;
      margin: 34px 0px 12px 20vw; }
  .title {
    margin: 12em 3.2em 1em 2.1em; }
    .title h1 {
      width: 100%;
      font-size: 40px;
      margin: 0px;
      padding: 0px;
      text-align: left;
      letter-spacing: -3px; }
  .lightFooter, .darkFooter {
    display: flex;
    align-content: center;
    justify-content: center; }
    .lightFooter p, .darkFooter p {
      margin: 0px; }
  .subsection-body-compartment img {
    width: 160px !important; }
  .content-container .content-section:nth-child(even) .section-body-compartment {
    flex-direction: column-reverse; }
  .dark .subtitle {
    margin: 0px;
    padding-top: 3em;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;
    flex-direction: column; }
    .dark .subtitle h1 {
      font-size: 46px;
      margin: 16px 0px;
      padding: 0px;
      width: 100%;
      text-align: center; }
    .dark .subtitle hr {
      padding: 0px;
      margin: 0px 36px; }
  .creationContainer {
    margin: 0px;
    padding: 0px; }
    .creationContainer p {
      margin: 24px 50px 0px 24px; }
    .creationContainer h1 {
      margin: 80px 0px 12px 0px;
      text-align: center;
      font-size: 28px; }
  .bioPics {
    position: flex;
    flex-direction: column;
    jusify-content: center;
    align-content: center;
    align-items: center; }
    .bioPics img {
      width: 80vw;
      height: auto;
      margin: 12px 0px; }
  .contentContainer {
    padding: 0px;
    margin: 0px;
    width: 100%; }
  .eventsContainer {
    margin: 0px;
    padding: 0px;
    width: 100%; }
    .eventsContainer h1 {
      font-size: 20px;
      text-align: center;
      margin: 36px 12px 12px 12px;
      padding: 0px; }
    .eventsContainer p {
      font-size: 18px;
      border: 1px;
      margin: 24px;
      padding: 0px; }
    .eventsContainer img {
      margin: 30px;
      width: 80%; }
  .contentContainerSimple {
    padding: 0px;
    margin: 0px;
    width: 100%; }
    .contentContainerSimple .contentSectionSimple {
      display: flex;
      margin: 0px;
      padding: 0px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; }
      .contentContainerSimple .contentSectionSimple img {
        margin: 1em;
        padding: 0px; }
      .contentContainerSimple .contentSectionSimple .mac-image {
        width: 90vw; }
      .contentContainerSimple .contentSectionSimple .iphone-image {
        width: 30vw; } }
