




@media screen and (min-width: 641px) and (max-width: 1024px)  {


.headline {

h1 {
	margin-right: 0px;

}
}


.bioPics {


	img {
	height: 24vw;
}


}

.eventsContainer {

	margin: 0em 4em;


}


.menu {


.dropdown {


	a:hover {
		color: #ffa2a2;

	}

}

}


.creationContainer {

	margin: 0em 8em;
}





	//END
}
