@import "fonts";



.contactFormContainer {
  //margin: 1em 4em 3em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
 background-color: #fefefe;
 width: 75%;
 height: 75%;
 opacity: 0.99;
 animation-delay: 0.5s;
 overflow: auto;

}



.contactError {

	font-family: Helvetica Neue Medium;
	font-size: 16px;
	color: black;
	margin:4px 4px 38px 4px;
	padding: 0px;
	text-align: center;
}



.contactTitle {
	 font-size: 50px;
	 margin: 12px 0px;
	 padding: 0px;
	 text-align: center;
	 font-family: Helvetica Neue Bold;
letter-spacing: -2px;

 }

.contactForm {
  display: flex;
  justify-content: center;
  flex-direction: column; //  margin: 1em 2em 3em 2em;
margin: 16px 0px 16px 0px;
  background-color: white;
  transition: 1s;
  width: 75%;
  height:100%;
  font-family: Helvetica Neue Medium;
  font-size: 18px;
  max-width: 50em;
  overflow: auto;

}

.contactInput {
  margin: 0.2em;
  padding: 0.2em;
  font-size: 18px;
  width: auto;
  font-family: Helvetica Neue Thin;
  font-weight: 100;
  border: 1px solid lightgrey;
}

.contactBody {
  width: auto;
  margin: 0.2em;
  padding: 0.2em;
  font-size: 18px;
  font-family: Helvetica Neue Thin;
	min-height: 50px;
  font-weight: 100;
  border: 1px solid lightgrey;
}




.submitButton {
  font-family: Helvetica Neue Medium;
  font-size: 0.8em;
  margin-bottom: 18px;
  height: 3em;
  width: 7em;
  min-width: auto;
  background-color: black;
  border-radius: 1.5em;
  line-height: 17px;
  border: none;
  color: white;
  cursor: pointer;
}
  /* The Modal (background) */
.contactPopup {
	margin: 0px;
	padding: 0px;
  display: none;/* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  box-sizing: border-box;

}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





.socialLinks {

	position: absolute;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;

a {
	padding: 0px;
	margin: 8px 4px;

}

}


.socialImage {

	width: 24px;
	height: 24px;
	margin: 0px;
	padding: 0px;

}





@media (max-width: 640px) {

	.socialLinks {
		flex-direction: row;
		bottom: 0px;
		right: 0px;

		a {

			margin: 10px;

		}

		.socialImage {

			width: 20px;
			height: 20px;



		}


	}

.contactTitle {

	font-size: 32px;
	text-align: center;

}

.contactForm {
	margin: 0px;
}


.contactInput {

	font-size: 12px;
}

.contactButton {
	font-size: 12px;

}


.contactForm {
	
	font-size: 12px;

}


//END
}




@media screen and (min-width: 641px) and (max-width: 1024px)  {

.contactInput {
	font-size: 14px;
}


.contactTitle {

	font-size: 38px;
}

.contactFrom {
	font-size: 14px;
}

.contactBody {
	font-size: 14px;

}








	//END









	//END
}
