
@media screen and (max-width: 640px) {
  html {
	width: 100%;
  }

  body {
    box-sizing: border-box;
	width: 100%;
  }


  .page {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
	width: 100%;
  }

  .logo {
    a {
      font-size: 44px;
    }
  }

  .infoContainer {
    top: 24vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: none;
	left: 0px;
    h2 {
      font-size: 56px;
	  letter-spacing: -3px;
	margin: 0px;
	padding: 0px;
    }

    p {
	
	margin: 8px 12px;
	padding: 8px 12px;
      font-size: 20px;
	  font-family: Helvetica Neue Light;

    }
  }

  .menu {
    display: none;
  }

  .menu-hamburger {
    display: flex;
	position: fixed;
  }


  .contactContainer {
    bottom: 60px;
	right: -42px;
    z-index: 9;
    a {
      font-size: 36px;
    }
  }

.headline {

	margin: 12px 0px 8em 0px;
	padding: 0px;
	width: 100vw;

	h1 {
		font-size: 22px;
		letter-spacing: -1px;
	margin: 18px 40px 18px 20px;
	padding: 0px;
	}
}

.menu-hamburger {
  display: block;
  position: fixed;
  z-index: 10;

  top: 72px;
  right: 40px;
  .hamburgerButton {
    img {
      width: 34px;
    }
  }
}


	

.mobile-menu-darken {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.95;
  z-index: 11;
}

.menu-items-mobile {
  position: absolute;
  z-index: 12;

  margin-top: 16vh;
  width: 100%;
}

.menu-item-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-title-mobile {
  width: 100%;
  display: flex;
  justify-content: left;

  img {
    width: 24px;
    height: auto;
    margin: 34px 0px 12px 20vw;
  }
}

.dropdown-mobile {
  display: none;
  position: fixed;
  width: 100vw;
  height: 130vh;
  padding: 0px;
  z-index: 12;
  align-items: center;
  flex-direction: column;


  a {
    width: 100%;
    font-family: Helvetica Neue Medium;
    font-size: 20px;
    margin: 0px;
    padding: 12px;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
  }

  a:hover {
    //color: $primary-color;
  }
}

.hamburgerIcon:hover > .dropdown-mobile {
  display: flex !important;
}
.mobile-menu-darken {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 11;
}

.menu-items-mobile {
  position: absolute;
  z-index: 12;

  margin-top: 16vh;
  width: 100%;
}

.menu-item-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-title-mobile {
  width: 100%;
  display: flex;
  justify-content: left;

  img {
    width: 24px;
    height: 24px;
    margin: 34px 0px 12px 20vw;
  }
}


.title {

	margin: 12em 3.2em 1em 2.1em;
	h1 {
		width: 100%;
		font-size: 40px;
		margin: 0px;
		padding: 0px;
		text-align: left;
		letter-spacing: -3px;
	}
}


.lightFooter, .darkFooter {
	display: flex;
	align-content: center;
	justify-content: center;

p {
	margin: 0px;
}
}



.subsection-body-compartment {

	img {
		width: 160px !important;
	}
}
.content-container {
   
	.content-section:nth-child(even) {
	.section-body-compartment {

		flex-direction: column-reverse;
	}
}

}


.dark {

.subtitle {
	margin: 0px;
	padding-top: 3em;
	display: flex;
	width: 100vw;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	h1 {
		font-size: 46px;
		margin: 16px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}

	hr {
		padding: 0px;
		margin: 0px 36px;
	}
}
}


.creationContainer {

		margin: 0px;
		padding: 0px;
	p {


		margin: 24px 50px 0px 24px;
	}



	h1 {

		margin: 80px 0px 12px 0px;
		text-align: center;
		font-size: 28px;

	}


}



.bioPics {
	position: flex;
	flex-direction: column;
	jusify-content: center;
	align-content: center;
	align-items: center;


	img {

		width: 80vw;
		height: auto;
		margin: 12px 0px;
	}
}


.contentContainer {


	padding: 0px;
	margin: 0px;
	width: 100%;



}



.eventsContainer {


	margin: 0px;
	padding: 0px;
	width: 100%;


	h1 {
		font-size: 20px;
		text-align: center;
	margin: 36px 12px 12px 12px;
	padding: 0px;
	}

	p {
		font-size: 18px;
		border: 1px; 
	margin: 24px;
	padding: 0px;
	}



	img {
		
		margin: 30px;
		width: 80%;
	}





}


.contentContainerSimple {

	padding: 0px;
	margin: 0px;
	width: 100%;


	.contentSectionSimple {

	display: flex;
		margin: 0px;
		padding: 0px;
		width: 100%;
		flex-direction: column;
	justify-content: center;
	align-items: center; 
	align-content: center;

	img {

		margin: 1em;
		padding: 0px;
	}
	.mac-image {
		width: 90vw;
	}

	.iphone-image {
		width: 30vw;
	}
	}





}



  //this is the end
}
