.content-container {
  margin: 4em;
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center; }

.container-title-compartment {
  margin: 2em 12vw;
  position: relative; }

.container-title {
  font-family: Helvetica Neue Bold;
  font-size: 54px;
  width: auto;
  height: auto;
  margin: 1em 2em 0.2em 0.5em; }

.container-title-underline {
  border: 1px solid black; }

.container-body-compartment {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.content-section {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-items: center;
  width: auto;
  position: relative; }

.section-title-compartment {
  width: 100%;
  display: flex;
  justify-content: center; }

.section-title {
  text-align: center;
  font-family: 42px;
  font-family: Helvetica Neue Bold; }

.section-body-compartment {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative; }

.content-subsection {
  display: flex;
  flex-direction: column;
  margin: 2em 4em;
  padding: 0px;
  align-items: center;
  min-width: 20%;
  justify-content: center; }

.right {
  margin-right: 14vw; }

.left {
  margin-left: 14vw; }

.subsection-title-compartment {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative; }

.subsection-title {
  text-align: center;
  font-size: 46px;
  font-family: Helvetica Neue Bold; }

.subsection-body-compartment {
  margin: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }

.subsection-body-content {
  width: auto;
  margin: 2em; }

.body-text-small {
  font-family: Helvetica Neue Medium;
  font-size: 20px;
  text-align: center; }

.body-text-medium {
  font-family: Helvetica Neue Medium;
  font-size: 24px;
  text-align: center; }

.body-text-large {
  font-family: Helvetica Neue Medium;
  font-size: 32px;
  text-align: center; }

@media screen and (max-width: 640px) {
  .section-body-compartment {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    position: relative; }
  .subsection-title-compartment h1 {
    font-size: 34px;
    letter-spacing: -3px;
    margin-bottom: -10px; }
  .subsection-body-compartment p {
    font-size: 16px;
    text-align: center;
    font-family: Helvetica Neue Medium; }
  .right, .left {
    margin: auto 2em; } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .content-subsection {
    margin: 1em;
    max-width: 50vw; }
  .subsection-body-content {
    margin: 1em; }
  .subsection-title {
    font-size: 36px; }
  .body-text-medium {
    font-size: 18px;
    text-align: center; } }
